'menu': [
    'label': 'Packages'
    'submenu': [
        'label': 'Open from namespace'
        'submenu': [
            { 'label': 'List all namespace', 'command': 'open-from-namespace:list-namespace' }
        ]
    ]
]